<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Document</title>
</head>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat+Subrayada&family=Poppins:ital,wght@0,400;0,700;1,400;1,900&family=Roboto:ital,wght@0,500;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,400;1,600&display=swap');
</style>

<body width="100%"
	style="word-wrap: break-word;margin: 0 auto !important;font-family: 'Manrope';padding: 0 !important;line-height: 1.8;color: rgba(0,0,0,.4);height: 100% !important;width: 100% !important;">
	<center style="width: 100%;background-color: #FAFAFA;padding-top: 40px;padding-bottom: 100px;">

		<div style="width: 600px;background: #FFFFFF;border: 1px solid #E7E7E7;border-radius: 8px;" class="marketing">
			<!-- BEGIN BODY -->
			<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100% bgcolor="
				f1f1f1">
				<tr>
					<td>
						<table align="center"
							style=" width: 100%; height: 76px;background-color: #FFF;border-top-left-radius: 8px;border-top-right-radius: 8px;">
							<tr>
								<td class="logo" style="width: 100%;height: 74px;">
									<h3 style="margin-top: 12px;margin-left:50px ; color:#1977cc;">Skyloov

								</td>
							</tr>
						</table>
					</td>
				</tr><!-- end tr -->

				<table align="center" width="600px" border="0" cellspacing="0" cellpadding="0"
					style="width: 600px;background: #FFFFFF;border-top: 1px solid #E7E7E7;">

					<tr>
						<td>
							<div style="margin-left: 50px;margin-top: 52px;"><span
									style="font-style: normal;font-weight: 400;font-size: 14px;line-height: 19px;color: #545454;">
									Bonjour {{username}},</span></div>
						</td>
					</tr>
					<tr>
						<td>
							<div style="margin-left: 50px;"><span
									style="font-style: normal;font-weight: 600;font-size: 20px;line-height: 33px;color: #000000;">
									Thank you for your registration</span></div>
						</td>
					</tr>
					<tr>
						<td>
							<div style="margin-left: 50px;width: 423px;margin-top: 23px;"><span
									style="font-style: normal;font-weight: 400;font-size: 14px;line-height: 25px;color: #545454;">
									Skyloov is the UAE's First Dynamic 360 Real Estate Portal,
									and the most desirable and easy to use, data wealthy compared to any other
									marketplace website.

									<br>
									We are delighted that you are part of our community of users.
								</span></div>
						</td>
					</tr>
					<table align="center" width="550px" border="0" cellspacing="0" cellpadding="0"
						style="width: 550px;background: #FFFFFF;margin-top: 30px;margin-left: 50px;">
						<tr>
							<td>

								<div>
									<a href="{{link}}"
										style="border: none;padding: 10px 30px;background: #1977cc;border-radius: 6px;">
										<span
											style="height: 13px;font-style: normal;font-weight: 500;font-size: 12.64px;line-height: 100%;display: flex;align-items: center;color: #FFFFFF;flex: none;order: 0;flex-grow: 0;margin: 0px 5px;display: inline-block;font-weight: 600; cursor: pointer;">Visit
											Website
										</span>
									</a>
								</div>

							</td>
							<td>
								<div style="width: 200px;"></div>
							</td>
						</tr>
					</table>
					<table align="center" width="600px" border="0" cellspacing="0" cellpadding="0"
						style="width: 600px;background: #FFFFFF;margin-top: 10px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
					</table>
					<tr>
						<td>
							<div style="margin-left: 50px;width: 450px;margin-top: 40px;"><span
									style="font-style: normal;font-weight: 400;font-size: 13px;line-height: 25px;color: #545454;"></span>
							</div>
						</td>
					</tr>
				</table>
				<!-- 1 Column Text + Button : END -->
			</table>
			<!-- Footer -->

			<!-- END Footer -->

		</div>
	</center>
</body>

</html>